In [2]:
import pandas as pd

In [52]:
veggie_db=pd.read_csv('veggie_db')

fish_db=pd.read_csv('fish_db')

meat_db=pd.read_csv('meat_db')

In [17]:
veggie_idset=set(veggie_db['id'])

fish_idset=set(fish_db['id'])

meat_idset=set(meat_db['id'])

In [18]:
veggie_idset

{52771, 52811, 52849, 52863, 52867, 52869, 52906, 52908, 53026, 53047}

In [6]:
veggie_idset

{52811, 52849, 52863, 52867, 52869, 52906, 52908, 53026, 53047}

In [7]:
import random

In [19]:
r=random.choice(list(veggie_idset))
veggie_idset=veggie_idset-{r}
print(r)
print(veggie_idset)

52869
{53026, 52867, 52771, 52906, 52811, 52908, 52849, 53047, 52863}

In [42]:
#lunch_recipes=[]

r=random.choice(list(veggie_idset))
veggie_idset=veggie_idset-{r}

In [43]:
lunch_recipes.append(r)

In [44]:
print(lunch_recipes)

[52771, 52811]

In [32]:
r

53047

In [49]:
set_aldi=set()

In [50]:
set_aldi=set_aldi.union([2])

In [51]:
set_aldi

{2}

In [53]:
meat_db['ings'][]

0    [465, 728, 731, 86, 182, 461, 287, 56, 382, 15...
1                    [727, 460, 531, 208, 88, 501, 85]
2                   [597, 86, 209, 727, 531, 287, 389]
3                                                  NaN
4                            [373, 511, 290, 113, 210]
5                   [242, 88, 351, 340, 601, 635, 737]
6                   [74, 179, 108, 114, 575, 373, 421]
7                [609, 460, 435, 212, 55, 85, 34, 731]
8                       [315, 114, 669, 138, 623, 162]
9                            [379, 653, 667, 315, 121]
Name: ings, dtype: object

In [54]:
meat_db

,Unnamed: 0,id,ings,ings2,name,ingsM
0,0,52796,"[465, 728, 731, 86, 182, 461, 287, 56, 382, 15...",NaN,Chicken Alfredo Primavera,"['Butter', 'Olive Oil', 'Chicken', 'Salt', 'Sq..."
1,1,52806,"[727, 460, 531, 208, 88, 501, 85]",NaN,Tandoori chicken,"['lemons', 'paprika', 'red onions', 'chicken t..."
2,2,52814,"[597, 86, 209, 727, 531, 287, 389]",NaN,Thai Green Curry,"['potatoes', 'green beans', 'sunflower oil', '..."
3,3,53039,NaN,"[535, 460, 306, 372, 723, 85, 177, 708]",Piri-piri chicken and slaw,"['Chicken', 'Red Chilli', 'Garlic', 'Ginger', ..."
4,4,52920,"[373, 511, 290, 113, 210]",NaN,Chicken Marengo,"['Olive Oil', 'Mushrooms', 'Chicken Legs', 'Pa..."
5,5,52850,"[242, 88, 351, 340, 601, 635, 737]",NaN,Chicken Couscous,"['Olive Oil', 'Onion', 'Chicken Breast', 'Ging..."
6,6,52770,"[74, 179, 108, 114, 575, 373, 421]",NaN,Spaghetti Bolognese,"['onions', 'olive oil', 'garlic', 'lean minced..."
7,7,52826,"[609, 460, 435, 212, 55, 85, 34, 731]",NaN,Braised Beef Chilli,"['Beef', 'Onions', 'Garlic', 'Olive oil', 'Cho..."
8,8,52834,"[315, 114, 669, 138, 623, 162]",NaN,Beef stroganoff,"['Olive Oil', 'Onions', 'Garlic', 'Butter', 'M..."
9,9,52803,"[379, 653, 667, 315, 121]",NaN,Beef Wellington,"['mushrooms', 'English Mustard', 'Olive Oil', ..."

In [56]:
list(meat_db['id']).index(52814)

2

In [57]:
meat_db['ings'][2]

'[597, 86, 209, 727, 531, 287, 389]'

In [58]:
aldi_db=pd.read_csv('aldi_db.csv')

In [59]:
aldi_db

     Unnamed: 0                                         Ingredient  Price
0             1   Rich & Creamy Melt In The Middle Salmon Fishc...   2.79
1             2   Smoked Mackerel Fillets - Peppered 200g The F...   1.49
2             3   Smoked Mackerel Fillets - Hot 200g The Fishmo...   1.49
3             4     Hot Smoked Salmon Fillets 185g The Fishmonger    3.49
4             5                               Salmon Fillets 185g    3.49
..          ...                                                ...    ...
743          38          Granny Smith Apples 6 Pack Nature's Pick    1.29
744          39   Spinach & Rocket / Spinach & Kale 120g Health...   1.29
745          40   Spinach & Rocket / Spinach & Kale 120g Health...   1.29
746          41                         Strawberries 250g Organic    2.49
747          42            Prepared Vegetables 500g Nature's Pick    1.25

[748 rows x 3 columns]

In [60]:
aldi_db['Price'][3]

3.49

In [61]:
fish_db

,Unnamed: 0,id,ings,name,ingsM
0,0,52960,"[17, 711, 720, 727, 109, 724]",Salmon Avocado Salad,"['Salmon', 'Avocado', 'Cucumber', 'Spinach', '..."
1,1,53041,"[66, 67, 460, 727, 85, 373, 339]",Grilled Portuguese sardines,"['Sardines', 'Olive Oil', 'Garlic', 'Paprika',..."
2,2,52946,"[19, 421, 444, 316, 414, 34, 35]",Kung Po Prawns,"['Prawns', 'Soy Sauce', 'Tomato Puree', 'Corn ..."
3,3,52823,"[336, 4, 26, 14, 115, 731, 465]",Salmon Prawn Risotto,"['butter', 'onion', 'rice', 'white wine', 'veg..."
4,4,52773,"[3, 10, 373, 380, 415, 105]",Honey Teriyaki Salmon,"['Salmon', 'Olive oil', 'Soy Sauce', 'Sake', '..."
5,5,52777,"[709, 81, 487, 490, 722, 723, 428, 291]",Mediterranean Pasta Salad,"['mozzarella balls', 'baby plum tomatoes', 'fr..."
6,6,52819,"[83, 727, 711, 177, 335, 451]",Cajun spiced fish tacos,"['cajun', 'cayenne pepper', 'white fish', 'veg..."
7,7,53040,"[86, 316, 417, 34, 136, 26, 731]",Spring onion and prawn empanadas,"['Spring Onions', 'Olive Oil', 'Red Chilli', '..."
8,8,52975,"[727, 703, 720, 401, 723, 138]",Tuna and Egg Briks,"['Olive Oil', 'Spring Onions', 'Spinach', 'Fil..."
9,9,52936,"[12, 96, 315, 709, 373, 713, 36, 428]",Saltfish and Ackee,"['Salt Cod', 'Ackee', 'Onion', 'Paprika', 'Cur..."

In [62]:
meat_db

,Unnamed: 0,id,ings,ings2,name,ingsM
0,0,52796,"[465, 728, 731, 86, 182, 461, 287, 56, 382, 15...",NaN,Chicken Alfredo Primavera,"['Butter', 'Olive Oil', 'Chicken', 'Salt', 'Sq..."
1,1,52806,"[727, 460, 531, 208, 88, 501, 85]",NaN,Tandoori chicken,"['lemons', 'paprika', 'red onions', 'chicken t..."
2,2,52814,"[597, 86, 209, 727, 531, 287, 389]",NaN,Thai Green Curry,"['potatoes', 'green beans', 'sunflower oil', '..."
3,3,53039,NaN,"[535, 460, 306, 372, 723, 85, 177, 708]",Piri-piri chicken and slaw,"['Chicken', 'Red Chilli', 'Garlic', 'Ginger', ..."
4,4,52920,"[373, 511, 290, 113, 210]",NaN,Chicken Marengo,"['Olive Oil', 'Mushrooms', 'Chicken Legs', 'Pa..."
5,5,52850,"[242, 88, 351, 340, 601, 635, 737]",NaN,Chicken Couscous,"['Olive Oil', 'Onion', 'Chicken Breast', 'Ging..."
6,6,52770,"[74, 179, 108, 114, 575, 373, 421]",NaN,Spaghetti Bolognese,"['onions', 'olive oil', 'garlic', 'lean minced..."
7,7,52826,"[609, 460, 435, 212, 55, 85, 34, 731]",NaN,Braised Beef Chilli,"['Beef', 'Onions', 'Garlic', 'Olive oil', 'Cho..."
8,8,52834,"[315, 114, 669, 138, 623, 162]",NaN,Beef stroganoff,"['Olive Oil', 'Onions', 'Garlic', 'Butter', 'M..."
9,9,52803,"[379, 653, 667, 315, 121]",NaN,Beef Wellington,"['mushrooms', 'English Mustard', 'Olive Oil', ..."

In [67]:
type(veggie_db['ings'][3][1])

str

In [68]:
aldi_db['Price'][3]

3.49

In [69]:
meat_db['ings'][3]

nan

In [70]:
meat_db

,Unnamed: 0,id,ings,ings2,name,ingsM
0,0,52796,"[465, 728, 731, 86, 182, 461, 287, 56, 382, 15...",NaN,Chicken Alfredo Primavera,"['Butter', 'Olive Oil', 'Chicken', 'Salt', 'Sq..."
1,1,52806,"[727, 460, 531, 208, 88, 501, 85]",NaN,Tandoori chicken,"['lemons', 'paprika', 'red onions', 'chicken t..."
2,2,52814,"[597, 86, 209, 727, 531, 287, 389]",NaN,Thai Green Curry,"['potatoes', 'green beans', 'sunflower oil', '..."
3,3,53039,NaN,"[535, 460, 306, 372, 723, 85, 177, 708]",Piri-piri chicken and slaw,"['Chicken', 'Red Chilli', 'Garlic', 'Ginger', ..."
4,4,52920,"[373, 511, 290, 113, 210]",NaN,Chicken Marengo,"['Olive Oil', 'Mushrooms', 'Chicken Legs', 'Pa..."
5,5,52850,"[242, 88, 351, 340, 601, 635, 737]",NaN,Chicken Couscous,"['Olive Oil', 'Onion', 'Chicken Breast', 'Ging..."
6,6,52770,"[74, 179, 108, 114, 575, 373, 421]",NaN,Spaghetti Bolognese,"['onions', 'olive oil', 'garlic', 'lean minced..."
7,7,52826,"[609, 460, 435, 212, 55, 85, 34, 731]",NaN,Braised Beef Chilli,"['Beef', 'Onions', 'Garlic', 'Olive oil', 'Cho..."
8,8,52834,"[315, 114, 669, 138, 623, 162]",NaN,Beef stroganoff,"['Olive Oil', 'Onions', 'Garlic', 'Butter', 'M..."
9,9,52803,"[379, 653, 667, 315, 121]",NaN,Beef Wellington,"['mushrooms', 'English Mustard', 'Olive Oil', ..."

In [72]:
fish_db

,Unnamed: 0,id,ings,name,ingsM
0,0,52960,"[17, 711, 720, 727, 109, 724]",Salmon Avocado Salad,"['Salmon', 'Avocado', 'Cucumber', 'Spinach', '..."
1,1,53041,"[66, 67, 460, 727, 85, 373, 339]",Grilled Portuguese sardines,"['Sardines', 'Olive Oil', 'Garlic', 'Paprika',..."
2,2,52946,"[19, 421, 444, 316, 414, 34, 35]",Kung Po Prawns,"['Prawns', 'Soy Sauce', 'Tomato Puree', 'Corn ..."
3,3,52823,"[336, 4, 26, 14, 115, 731, 465]",Salmon Prawn Risotto,"['butter', 'onion', 'rice', 'white wine', 'veg..."
4,4,52773,"[3, 10, 373, 380, 415, 105]",Honey Teriyaki Salmon,"['Salmon', 'Olive oil', 'Soy Sauce', 'Sake', '..."
5,5,52777,"[709, 81, 487, 490, 722, 723, 428, 291]",Mediterranean Pasta Salad,"['mozzarella balls', 'baby plum tomatoes', 'fr..."
6,6,52819,"[83, 727, 711, 177, 335, 451]",Cajun spiced fish tacos,"['cajun', 'cayenne pepper', 'white fish', 'veg..."
7,7,53040,"[86, 316, 417, 34, 136, 26, 731]",Spring onion and prawn empanadas,"['Spring Onions', 'Olive Oil', 'Red Chilli', '..."
8,8,52975,"[727, 703, 720, 401, 723, 138]",Tuna and Egg Briks,"['Olive Oil', 'Spring Onions', 'Spinach', 'Fil..."
9,9,52936,"[12, 96, 315, 709, 373, 713, 36, 428]",Saltfish and Ackee,"['Salt Cod', 'Ackee', 'Onion', 'Paprika', 'Cur..."

In [73]:
aldi_db

     Unnamed: 0                                         Ingredient  Price
0             1   Rich & Creamy Melt In The Middle Salmon Fishc...   2.79
1             2   Smoked Mackerel Fillets - Peppered 200g The F...   1.49
2             3   Smoked Mackerel Fillets - Hot 200g The Fishmo...   1.49
3             4     Hot Smoked Salmon Fillets 185g The Fishmonger    3.49
4             5                               Salmon Fillets 185g    3.49
..          ...                                                ...    ...
743          38          Granny Smith Apples 6 Pack Nature's Pick    1.29
744          39   Spinach & Rocket / Spinach & Kale 120g Health...   1.29
745          40   Spinach & Rocket / Spinach & Kale 120g Health...   1.29
746          41                         Strawberries 250g Organic    2.49
747          42            Prepared Vegetables 500g Nature's Pick    1.25

[748 rows x 3 columns]